body{
    background: white;
    font-family: Courier, Monaco, monospace;
}

.btn-default{
    border-color: #3182bd;
}

.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
    background-color: white;
}

.btn-default:hover{
    color: #3182bd;
    background-color: white;
}

/* navbar */

.navbar {
    box-shadow: none;
}

.navbar {
    transition: opacity 0.5s ease;
    opacity: 1;
}

.navbar:hover {
    opacity: 1;
}

.navbar-inverse .navbar-nav > li > a{
    border-bottom-color: #3182bd !important;
}

.navbar-inverse .navbar-nav > li > a:hover{
    border-bottom-color: #3182bd;
    color:#3182bd;
}

.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: white;
}

.dropdown-menu > li > a:hover{
    color:#3182bd;
    background: white;
}

/* chart */
.chart-header .header{
    font-weight: normal;
    font-size: 12px;
    color: white !important;
}

.gridster div.widget {
    transition: background-color 0.5s ease;
    background-color: #3182bd;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: none;
}

.gridster div.widget:hover {
    
}

.pull-right a{
    color: white;
}

/* text */

h2 {
    color: white;
    font-size: 52px;
}

h1{
    color:#3182bd;
}

.nvd3 text {
    font-size: 12px;
    font-family: inherit;
}

/* graph */

/* tables */

table {
    color: #3182bd !important;
}

.slice_container:hover{
    border-top-width:0px;
    border-right-width:1px;
    border-left-width:1px;
    border-bottom-width:1px;
    border-style: solid;
    border-radius: 0 0px 15px 15px;
    border-color: #3182bd;
}

/* world graph */

.datamaps-bubble {
    fill:#3182bd !important;
    stroke:white !important;
}

.datamaps-hoverover {
    box-shadow: 1px 1px 5px #3182bd !important; 
    color: #3182bd;
}

.hoverinfo {
    padding: 4px; 
    border-radius: 1px; 
    box-shadow: 1px 1px 5px #3182bd; 
    font-size: 12px; 
    border: 1px solid #CCC; 
}

.datamaps-subunit:hover{
  fill: #3182bd !important;
}

.datamaps-subunit:not(:hover){
  fill: #ccc !important;
}

/**/

text.big{
    stroke: white !important;
    fill: #3182bd !important;
}
